.dropdown-list-block
{
    height: 220px;
    width: 100%;
    line-height: 10px;
    z-index: -1;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #1c5b7b;
    padding: 0;
    margin: 0;
    animation: animate 1s;
    .link
    {
        list-style: none;
        padding: 0;
        margin: 0;
        li
        {
            margin: 0 0 20px;
            display: block;
            a{
                font-size: 18px;
            }
        }
    }
}

@keyframes animate {
    0%{top: -150px}
    50%{top: 10px}
    75%{top: 15px}
    100%{top: 25px}
}
