.main-furniture-collection-container
{
    padding-top: 100px;
    .item-details
    {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 380px;
        position: relative;
        cursor: pointer;
        .background-color{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, .30);
            z-index: 1;
            display: none;
        }
        &:hover .background-color{
            display: block;
        }
        &:hover .details{
            display: block;
        }
        .details
        {
            position: absolute;
            bottom: 25px;
            left: 25px;
            color: #FFFFFF;
            display: none;
            transition: all 50s;
            z-index: 1;
            @media (max-width: 1024px) {
                left: 10px;
            }
            @media (max-width: 768px) {
                left: 20px;
            }
            @media (max-width: 320px) {
                left: 10px;
            }
            i{
                background-color: #000000;
                border-radius: 50%;
                padding: 10px;
                margin-bottom: 10px;
            }
            h2{
                @media (max-width: 1024px) {
                    font-size: 15px;
                    font-weight: 700;
                }
                @media (max-width: 768px) {
                    font-size: 20px;
                }
                @media (max-width: 280px) {
                    font-size: 17px;
                }
            }
        }
    }
    .item-details-1 {
        background-image: url("../img/item-1.webp");
        margin-bottom: 20px;
    }
    .item-details-2 {
        background-image: url("../img/item-2.webp");
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    .item-details-3 {
        background-image: url("../img/item-3.webp");
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    .item-details-4 {
        background-image: url("../img/item-4.webp");
        @media (max-width: 768px) {
            margin-bottom: 20px;
        }
    }
    .item-details-5 {
        background-image: url("../img/item-5.webp");
        @media (max-width: 700px) {
            margin-bottom: 20px;
        }
    }
    .item-details-6 {
        background-image: url("../img/item-6.webp");
    }
    .item-details-7 {
        background-image: url("../img/item-7.webp");
    }
    .item-details-8 {
        background-image: url("../img/item-8.webp");
    }
    .item-details-9 {
        background-image: url("../img/item-9.webp");
    }

}